.label {
  padding-block: 3px;
}

.label:hover {
  background-color: var(--mantine-color-default-hover);
}

.label[data-selected] {
  font-weight: 600;
  background-color: var(--mantine-primary-color-light);
  color: var(--mantine-primary-color-light-color);
}